{% extends 'glowny.html' %}

{% block tytul %} Lista filmów {% endblock %}

{% block strona %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-4">Witaj {{ user.username }}</h1>
            {#<a href="{% url 'logout' %}">Logout</a>#}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-success">Login <i class="fa-solid fa-right-to-bracket"></i></a>
        {#    <form method="post" action="{% url 'login' %}">#}
        {#        {% csrf_token %}#}
        {#        <button type="submit">Login</button>#}
        {#    </form>#}
        {% endif %}
    </div>

<hr>

<a href="{% url 'nowy_film' %}">Nowy film <i class="fa-solid fa-circle-plus"></i></a>

    {% if filmy|length == 0 %}
        <h2>Brak filmow</h2>
    {% else %}
{#        <h2>Ilosc filmow w DB: {{ filmy|length }}</h2>#}
        {%  for film in filmy %}
            <div class="card" style="width: 26rem;">
{#              <img src="..." class="card-img-top" alt="...">#}
              <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{ film }}</h5>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'edit_film' film.id %}"><i class="fa-solid fa-2x fa-pen-to-square"></i></a>
                        <a href="{% url 'usun_film' film.id %}"><i class="fa-solid fa-2x fa-trash-can"></i></a>
                    </div>
                </div>
                <div class="row">
                    <p class="card-text">{{ film.opis }}</p>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}