{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Formularz Film {% endblock %}

{% block strona %}
    <div class="card" style="width: 32rem;">
      <div class="card-body">
      {% if nowy %}
        <h5 class="card-title">Nowy film</h5>
      {% else %}
        <h5 class="card-title">Edycja filmu</h5>
      {% endif %}

          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                {{ form_dodatkowe|bootstrap }}
          <br>
              {% if nowy %}
                <button type="submit" class="btn btn-primary">Nowy film</button>
              {% else %}
                <button type="submit" class="btn btn-primary">Edytuj film</button>
              {% endif %}
          </form>
      </div>
    </div>

    <a href="{% url 'wszystkie' %}">Cofnij</a>
{% endblock %}